.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

pre {
      padding: 16px 20px 0px;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.info {
  font-size: 1.3rem;
  text-align: center;
}
